
@font-face {
    font-family: 'NB International Pro Bold Italic';
    src: url('https://aeroplvne.github.io/webfont/NB-International-Pro-Bold-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NB International Pro Bold';
    src: url('https://aeroplvne.github.io/webfont/NB-International-Pro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NB International Regular';
    src: url('https://aeroplvne.github.io/webfont/NB-International-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NB International Italic';
    src: url('https://aeroplvne.github.io/webfont/NB-International-Pro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
